/* Basic tags */
html{
  height: 100%;
  width: 64em;
  margin: 0em auto;
  font-family: "Verdana", "Arial", sans-serif;
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0px;
}

#body {
  min-height: 48em;
  margin: 4em 16em 1em 1em;
  padding: 0px;
  color: #000;
  background: url(images/glade-bg.svg) no-repeat bottom right;
  background-size: 32em;
}

a img {
  border: none;
  text-decoration: none;
}

/* Anchors */
a {
  border: none;
  text-decoration: none;
  color: #33BB00;
}

a:hover {
  text-decoration:underline;
}

/* Common page elements: Header, footer, etc. */
div.hdr_top {
  position: fixed;
  top: 0px;
  width: 64em;
  margin: 0px auto;
}

#hdr {
  position: fixed;
  top: 0px;
  width: 64em;
  margin: 0px auto;

  box-shadow: 1px 1px 4px gray;
  border:1px solid black;
  background-color: #4a90d9;
}

#hdr h1 {
  margin: 0em;
  padding: 0.5em 0em 0.25em 0em;
  font-size: 165%;
  text-shadow: 1px 1px 2px black;
}

#hdr a {
  color: white;
  text-decoration:none;
  outline: 0;
}

#hdr h2 {
  font-size: 120%;
}

#hdr img {
  float: left;
}

/* News */
#newsblock {
  padding-top:0.3em;
  margin-right:0.3em;
  clear:left;
}

#rsslinks {
  float:right;
  font-size:x-small;
  margin-top:1em;
}

#newsheader {
  margin-bottom:0.2em;
}

.news {
  font-size:75%;
  color:#797979;
}

.news h1.title {
  font-size: 120%;
  border-width:1px 0 0 0;
  border-style:dotted;
  margin:0.3em 0 0.2em 0;
  padding-top:0.3em;
}

.news h1.title a {
  color:#555;
}

.news h2.title {
  font-size:75%;
  color:gray;
  margin:0;
  padding:0 0 0.5em 0;
}

.news h1, .news h2, .news h3, .news h4 {
  font-family: sans-serif;
  font-size:100%;
}

.ndescription h1 {
  font-size: 120%;
}

.ndescription li, .ndescription li p {
  margin:0;
}

/* Sidebar */

#sidebar * {
  font-size:100%;
}

#sidebar {
  position:fixed;
  width: 14em;
  margin: 0em 0em 0em 49em;
  padding: 0.5em;
  border-left: 1px dashed #ddd;
}

#sidebar p {
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#sidebar h1 {
  font-family: sans-serif;
  font-weight: bold;
  background-color: #eee;
  padding: 0.3em;
}

#sidebar ul {
  margin: 0em;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

#sidebar ul ul {
  padding-left: 2em;
  padding-right: 0em;
  list-style-type: square;
}

#ircinfo {
  font-size: 90%;
  color: gray;
}

/* Copyright footer */
#copyright {
  text-align: center;
  font-size: small;
  background-color: #4a90d9;
  color: #FFF;
  margin: 0px;
  padding: 1em;
  border: 1px solid #000;
  position:relative;
  z-index: 10;
}

/* Generic Classes */

code {
  margin: 1em;
  padding: 1em;
  white-space: pre;
  font-family: monospace;
  background-color: #eee;
}
