
#content {
 margin: 70px 60px 10px 10px;
 top: 60px;
}


/* Basic tags */

body {
 margin: 0px;
 background-color: white;
 font-family: sans-serif;
}

#body {
 margin: 90px 230px 0px 10px;
 padding: 0px;
}

a img {
 border: 0px;
}


/* Anchors */

a, a:hover {
 text-decoration: none;
}

a:link {
 color: #BB0207;
 text-decoration: underline;
}

a:visited {
 color: #c0665a;
 text-decoration: underline;
}

a:active {
 color: #ff0000;
 text-decoration: underline;
}


/* Basic classes */

.none { /* to add paragraph spacing to various elements for ttys */
 margin: 0px;
 padding: 0px;
}

.invisible { /* stuff that should appear when this css isn't used */
 margin: 0px;
 border: 0px;
 padding: 0px;
 height: 0px;
 visibility: hidden;
}

.left {
 margin: 10px;
 padding: 0px;
 float: left;
}

.right {
 margin: 10px;
 padding: 0px;
 float: right;
}

.center {
 text-align: center;
}


/* Common page elements: Header, footer, etc. */

#logo {
 position: absolute;
 top: 19px;
 left: 15px;
 border: 0px;
 z-index: 10;
}

#hdr {
 position: absolute;
 z-index: 5;

 top: 0px;
 left: 0px;
 right: 0px;
 width: 100%;
 height: 48px;

 text-align: right;

 background: url("graphics/header.png") no-repeat;
 background-color: #bd655a;
 border-bottom: 1px solid #666666;
}

#hdrNav {
 position: absolute;
 top: 54px;
 left: 0px;

 margin-left: 84px;
 text-align: left;
 vertical-align: middle;
 font-size: small;
}

#hdrNav a {
 color: #000000;
}

#hdrNav a:hover {
 color: #FF0000;
}
